.output
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  .title
    font-weight bold
  pre
    margin 0
    padding 1rem
    background-color #f0f4f8
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

.definition
    padding .1rem 1.5rem
    margin 1rem 0
    background-color #e3f2fc
    border-color #009dff
    .custom-block-title
      color darken(#009dff, 50%)

.kata
    padding .1rem 1.5rem
    margin 1rem 0
    background-color #eee8d5
    border-color darken(#eee8d5, 70%)
    .custom-block-title
      color darken(#eee8d5, 50%)

.danger, .tip, .warning, .definition, .kata
    border-left-width .7rem !important
    border-left-style solid
    border-right-width .7rem
    border-right-style solid

h1
  color $accentColor