// Solarized Colors
$solarized_brblack = #002b36
$solarized_brwhite = #fdf6e3
$solarized_red = #dc322f
$solarized_blue = #268bd2
$solarized_brcyan = #93a1a1
$solarized_brwhite = #fdf6e3
$solarized_white = #eee8d5
$solarized_green = #859900
$solarized_brred = #cb4b16
$solarized_yellow = #b58900
$solarized_magenta = #d33682
$solarized_cyan = #2aa198
$solarized_brmagenta = #6c71c4

$output_container = $solarized_white
$definition_container = $solarized_blue
$warning_container = $solarized_yellow
$kata_container = $solarized_brmagenta
$insight_container = $solarized_magenta
$question_container = $solarized_brblack

// Theme config
$accentColor = $solarized_red
//$textColor = #2c3e50
//$borderColor = #eaecef
//$codeBgColor = #282c34