.panel {
  border-left: grey solid 2px;
  padding-left: 1em;
}

/* Make code blocks a smaller fonsize */
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal pre, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal code {
    font-size: 80% !important;
    margin: 0;
    padding: 0.2em 0;
    color: red !important;
}
